:root {
  // - - - - - FONTS - - - - - //
  --base-font-family          : 'Montserrat', sans-serif;
  --base-font-size            : 14px;
  --font-size-sm              : 16px;
  --base-font-weight          : 400;
  --base-line-height          : 17px;
  --base-font-color           : #FFFFFF;
  --base-body-color           : #0D1117;

  // - - - - - COLORS - - - - - //
  --grey-light                : #4F4F4F;
  --main-green-color          : #06A348;
  --main-blue-color           : #4793FF;
  --main-orange-color         : #FF7714;
  --text-grey                 : #939CB0;
  --white                     : #FFFFFF;

  // - - - - - COMPONENTS SIZES - - - - - //
  --scrollbar-width           : 5px;

  // - - - - - TRANSITION - - - - - //
}
